OPTIONAL: This route may control uploading, if we don't let the user do so directly from the tree widget on the "project files selection" (submit.project.index) page.

<button {{action 'mutateAndGo'}}>Click me!!!</button>
